<%- include('../partials/header') %>
    <body>
            <div class="error-container">
                    <h3 class="error-title">Please login to access your  profile!</h3>
                    <img class="nps-logo-large" src="../images/NPS_Logo_Hi_Res.png" alt="NPS Logo">
                    <h2 class="error-title">Once logged in you will be able to access your lists!</h2>
                </div>

    </body>
    <%- include('../partials/footer') %>