* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

@font-face {
  font-family: NationalPark-Heavy; 
  src: url(../fonts/NationalPark-Heavy.otf);
}
 @font-face {
  font-family: NationalPark-Outline; 
  src: url(../fonts/NationalPark-Outline.otf);
} 
@font-face {
  font-family: NationalPark-Regular; 
  src: url(../fonts/NationalPark-Regular.otf);
}
@font-face {
  font-family: NationalPark-Thin; 
  src: url(../fonts/NationalPark-Thin.otf);
} 


body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(160, 164, 130);
  height: 100vh;
}

a {
  color: black;
  font-family: NationalPark-Regular, sans-serif;
  font-size: 20px;
}

.nav {
  justify-content: space-between;
  background-color: #C0A66F;
}

.nav-item title {
  justify-content: flex-start;
}

/* Home Page */
.home-page {
  text-align: center;

}

.home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  border: black solid 5px;
  border-radius: 5%;
}

.home-page h1 {
  font-family: NationalPark-Outline, sans-serif;
}

/* About Page */
.about-page {
  text-align: center;
}

.about-page h1 {
  font-family: NationalPark-Outline, sans-serif;
}
.image-container {
  text-align:center;
}
.nps-logo-large {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* User Profile Page */
.profile-body-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr 2fr;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 10px;
  height: 100vh;

}
.user-info-container {
background-color: #BF5424;
display: grid;
grid-template-columns: 1;
grid-template-rows: 10% 30% 20% 40%;
/* grid-template-rows: 40px 310px 1fr 3fr; */
text-align: center;
font-family: NationalPark-Regular, sans-serif;
}

.img-profile {
  border-radius: 50%;
  width: 300px;

}

.visited-parks-wrapper {
background-color: peachpuff;
border: solid black 5px;
display: grid;
grid-gap: 10px;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 6fr 6fr 6fr;
grid-gap: 10px;
/* grid-template-areas:
"header"
"parkContent1" "parkContent2"
"parkContent3" "parkContent4"
"parkContent5" "parkContent6" */
}
/* .main-head {
  grid-area: header;
}
.visited-park1 {
  grid-area: parkContent1;
}

.visited-park2 {
  grid-area: parkContent2;
}

.visited-park3 {
  grid-area: parkContent3;
}

.visited-park4 {
  grid-area: parkContent4;
}

.visited-park5 {
  grid-area: parkContent5;
} */

/* .visited-park6 {
  grid-area: parkContent6;
} */

.error-title {
  font-family: NationalPark-Outline, Sans-serif;
  font-size: 40px;
}

.error-image {
  
}

.error-container {
  text-align: center;
}

/* AllParks Info Page */
.allParks-body {
  text-align: center;
  font-family: NationalPark-Outline, sans-serif;
}

.parks-container {
  border: solid black 5px;
  text-align: center;
}

.parks-container .row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.park-image{
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
  margin: 5px 5px;
}

.park-image img {
  /* width: 50%; */
  /* height: auto; */
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.park-image .image-title {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  background-color: #C0A66F;
  font-size: 15px;
  font-family: NationalPark-Heavy, sans-serif;
  width: 90%;
}

.park-image .more-info-btn {
  position: absolute;
  top: 80%;
  left: 0%;
  /* transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%); */
  background-color: #555;
  color: white;
  font-size: 14px;
  padding: 3px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.park-image .more-info-btn:hover {
  background-color: black;
}

.park-image .add-visited-park-btn {
  position: absolute;
  top: 80%;
  left: 35%;
  /* transform: translate(25%, 25%);
  -ms-transform: translate(25%, 25%); */
  background-color: #555;
  color: white;
  font-size: 14px;
  padding: 3px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.park-image .add-visited-park-btn:hover {
  background-color: black;
}

.park-image .add-wish-park-btn {
  position: absolute;
  top: 80%;
  right: 0%;
  /* transform: translate(25%, 25%);
  -ms-transform: translate(25%, 25%); */
  background-color: #555;
  color: white;
  font-size: 14px;
  padding: 3px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

.park-image .add-wish-park-btn:hover {
  background-color: black;
}

/* onePark Info Page */
.onepark-body-container {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 1fr 2fr;
  /* grid-auto-rows: minmax(100px, auto); */
  grid-gap: 10px;
  height: 100vh;

}
.onepark-info-container {
background-color: #BF5424;
display: grid;
grid-template-columns: 1;
grid-template-rows: 250px 1fr 2fr;
text-align: center;
font-family: NationalPark-Regular, sans-serif;
}

.park-img {
  width: 100%;
  height: 100%;
  border-radius: 10%;
  border: solid black 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.park-info {
  margin: 10px 5px;
  text-align: left;
}

.onepark-comments-wrapper {
/* background-color: peachpuff; */
border: solid black 5px;
display: grid;
grid-gap: 10px;
grid-template-columns: 1fr;
grid-template-rows: 35px 2fr 2fr 2fr 2fr 2fr;
grid-gap: 10px;
}

.onepark-comments-main-head {
  text-align: center;
  font-family: NationalPark-Heavy, sans-serif;
}
